{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="{% static 'css/login.css'%}" rel="stylesheet">
</head>
<body>
<h2 style="background-color:white;color:purple" align="center">my page</h2>
<form action="logdata" method="POST">
    {% csrf_token %}
    <h3 style="color:blue" align="center">{{data}}</h3>
    <table align="center">
        <tr>
            <td>UserName:</td>
            <td><input type="text" name="txtusername" ></td>
        </tr>

        <tr>
            <td>UserPassword:</td>
            <td><input type="password" name="txtPswd"></td>
        </tr>
        <tr>
            <td><input type="submit" name="btnSub" value="Login"></td>


        </tr>
    </table>
</form>

</body>
</html>