<!DOCTYPE html>
<html>
<head>
	<title>My Webpage</title>
</head>
<body>
	<header>
		<h1>Welcome to my webpage</h1>
		<nav>
			<ul>

				<li><a href="#">Resume</a></li>

			</ul>
		</nav>
	</header>

	<main>
		<section>
			<h2>My Data</h2>
			<ul>
				<li>Name:H vincent nikhil </li>
				<li>Age: 25</li>
				<li>DOB: 30/06/1998</li>

			</ul>
		</section>


		<section>
			<h2>My Skills</h2>
			<ul>
				<li>Python</li>
				<li>HTML</li>
				<li>CSS</li>
				<li>JavaScript</li>
				<li>SQL</li>
			</ul>
		</section>
	</main>


</body>
</html>